[submodule "libraries/glew-cmake"]
	path = libraries/glew-cmake
	url = https://github.com/Perlmint/glew-cmake.git
[submodule "libraries/sdl2"]
	path = libraries/sdl2
	url = https://github.com/libsdl-org/SDL.git
[submodule "libraries/SDL"]
	path = libraries/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "libraries/glew"]
	path = libraries/glew
	url = https://github.com/nigels-com/glew.git
[submodule "libraries/imgui"]
	path = libraries/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "libraries/ImGuizmo"]
	path = libraries/ImGuizmo
	url = https://github.com/CedricGuillemet/ImGuizmo.git
